/* body section */
body {
  display: block;
  color: #202124;
  background: white;
  align-content: center;
  font-family: Arial,sans-serif;
  font-size: small;
  width: auto;
  height: auto;
  margin: 0 auto;
}

/* nav bar */
nav {
  overflow: hidden;
  padding: 15px 20px 0px 15px;
  height: 50px;
  list-style: none;
  margin: 0;
}

.align-left {
  float: left;
}
.align-right {
  float: right;
}

button.sign-in {
  border: 5px grey;
  background-color: #4285F4;
  height: 30px;
  width: 75px;
  color: white;
  border-radius: 3px;
  font-size: 10pt;
}

/* list styles */
ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 0 10px 0 10px;
}

li a {
  color: black;
  text-align: center;
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
}

/* google logo section */
div#google-logo {
  height: auto;
  width: 100%;
  margin: auto;
  min-width: 800px;
  min-height: 200px;
  display: flex;
  justify-content: center;
}

img {
 padding-top: 180px;
 padding-bottom: 20px;
}

/* search bar */
div#google-search {
display: flex;
justify-content: center;
}

input {
  width: 535px;
  height: 42px;
  border-radius: 25px;
  outline: 0;
  border: 1px solid lightgrey;
  padding-left: 40px;
}

input:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.search-icon {
  position: absolute; 
  bottom: 405px; 
  left:450px; 
  width: 14px; 
  height: 14px;
  opacity: 50%;
}

/* search buttons */
div#search-buttons {
  display: flex;
  justify-content: center;
  height: 50px;
  padding-top: 30px;
  padding-bottom: 280px;
  width: 100%;
}

button {
  padding: 5px 15px 5px 15px;
  background-color: rgb(236, 236, 236);
  height: 40px;
  border-radius: 4px;
  border-color: lightgrey;
  outline: 0;
  color: black;
  border: 1px solid rgb(236, 236, 236);
  font-size: 10pt;
}

button:hover {
color: black;
border-color: black;
border: 1px solid lightgrey;
background-color: rgb(243, 243, 243);
}

/* footer section */
footer {
  background-color: rgb(236, 236, 236);
  height: 40px;
  width: auto;
  margin: auto;
  justify-content: space-between;
  padding-right: 10px;
}